# Cache crap that Valve autogenerates
*.bin

# Ignore all particles except the custom folder
*.vpcf_c
/particles/*
!/particles/custom
!/particles/custom/*
!/particles/buildinghelper
!/particles/buildinghelper/*

# Map Files
*.vpk
