.ActionBarRoot{
	height: 125px;
	width: 500px;
	
	margin-left: 360px;

	horizontal-align: center;
	vertical-align: bottom;
	
	flow-children: down;
}

#AbilityList{
	flow-children: down;
	height: 100%;
	width: 100%;
	border: 2px solid black;
	background-color: #272823;
	
	padding: 8px;
}

#AbilityBottomRow, #AbilityTopRow{ 
	height: 50%;
	width: 100%;
	
	flow-children: right;
}

.ActionBarAbilityRoot{ 
	margin-right: 10px;
}

/*
	Button Styling - Taken from ui_example
*/
#LevelUpButton
{
	border: 1px solid black;
    background-color: #c4a529;
	width: 114px;
	height: 28px;
	margin-bottom: 6px;
	visibility: collapse;
}

.could_level_up #LevelUpButton
{
	visibility: visible;
}

#LevelUpButton:hover
{
    background-color: #9e8b2c;
}

#LevelUpButtonInset
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
	margin: 1px;
}

#LevelUpButton:hover #LevelUpButtonInset
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#LevelUpButton Label
{
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: center;
	horizontal-align: center;
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 55px;
	height: 55px;
	border: 2px solid transparent;
}

.is_passive #AbilityButton
{
	border: 2px solid #00000000;
}

#UpgradeBorder
{
	background-color: transparent;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}

/* ability shared */
#CooldownOverlay
{
	height: 100%;
	background-color: #000000DD;
}

#CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.in_cooldown #Cooldown
{
	visibility: visible;
}

#ManaCost
{
	color: #c0e8fb;
    font-size: 14px;
    font-weight: bold;
	text-shadow: 0px 0px 6px 8 #245191;
	margin-right: -2px;
	margin-bottom: -4px;

	vertical-align: bottom;
	horizontal-align: right;
}

.no_mana_cost #ManaCost
{
	visibility: collapse;
}

#ActiveAbility
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #FFFFFF ), to( #FFFFFF00 ) );
	border: 4px solid #FFFFFF40;
	opacity: 0;
}

.is_active #ActiveAbility
{
	opacity: 1;
}

#Hotkey
{
	margin-left: -4px;

	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	min-height: 18px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

#HotkeyText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 14px;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	width: 100%;
	margin: -2px;
}

.no_level #Hotkey,
.no_item #Hotkey,
.is_passive #Hotkey,
#stash_row #Hotkey,
.no_hotkey #Hotkey
{
	visibility: collapse;
}