.ButtonPanel
{
	height: 100%;
	width: 100%;
}
.ControlGroupButtonRoot
{
	height: 50px;
	width: 75px;
}
.Hidden 
{
    visibility: collapse;
    opacity: 0;
}

.HeroButtonsPanel
{
    width: 96px;
    height: 500px;
    border-radius:5px;
    vertical-align: top;
    flow-children: down;
}

.HeroButton
{
    width: 96px;
    height: 56px;
    border-radius:5px;
    background-color: #ff0000;
    vertical-align: top;
    margin-bottom: 30px;
}

#IdleButton
{
    width: 54px;
    height: 54px;
	
    color: white;
    font-weight: bold;
    font-family: Goudy Trajan Medium;
	
    border-radius:5px;
	border: 1px solid #616161;
	
	margin-bottom: 300px;
	margin-left: 25px;
	
	horizontal-align: left;
	vertical-align: bottom; 
}

#IdleButton:hover
{
	color: yellow;
	border: 1px solid yellow;
}

#IdleButton:active
{
	color: orange;
	border: 1px solid orange;
}

#IdleButtonImage
{
	height: 100%;
	width: 100%;
}

#IdleNumber
{
	horizontal-align: right;
    vertical-align: bottom;
	
    background-color: #616161;
    border-radius:2px;
	width: 20px;
		
	font-size: 20px;
    text-align: center;
}

#ControlGroups
{
	vertical-align: bottom;
	horizontal-align: middle;
	
	height: 50px;
	width: 600px;
	margin-bottom: 225px;
	
	flow-children: right;
}

#ControlGroupButton
{
	height: 100%;
	width: 100%;
}

#UnitContainer
{
	height: 70%;
	width: 70%;
	
	vertical-align: top;
	horizontal-align: middle; 
	
	background-color: #333333;
	border: 1px solid yellow;
	border-radius: 10px;
	
	padding: 2px;
	
	flow-children: right; 
}

#UnitCount
{
	height: 100%;
	width: 40%;
	
	font-size: 16px;
	color: white;
	text-align: center;
}

#UnitImage
{
	height: 100%;
	width: 60%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#ID
{
	height: 40%;
	width: 30%;
	
	padding: 1px;
	
	vertical-align: bottom;
	horizontal-align: middle;	
	
	background-color: #333333;
	border: 1px solid yellow;
	border-radius: 5px;
	
	font-size: 16px;
	color: white;
	text-align: center;
}

#UnitCount:hover
{
	background-color: #222222;
	transition-property: background-color;
	transition-duration: 0.2s;
}
