.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	
}

#Precache{
	background-image: url('file://{images}/items/item_potion_of_healing.png'); 
	background-image: url('file://{images}/items/item_potion_of_mana.png'); 
	background-image: url('file://{images}/items/item_anti_magic_potion.png'); 
	background-image: url('file://{images}/items/item_build_ivory_tower.png'); 
	background-image: url('file://{images}/items/item_orb_of_fire.png'); 
	background-image: url('file://{images}/items/item_orb_of_lightning.png'); 
	background-image: url('file://{images}/items/item_orb_of_corruption.png');
	background-image: url('file://{images}/items/item_orb_of_venom_wc3.png'); 
	background-image: url('file://{images}/items/item_scroll_of_regeneration.png'); 
	background-image: url('file://{images}/items/item_mechanical_critter.png'); 
	background-image: url('file://{images}/items/item_lesser_clarity_potion.png'); 
	background-image: url('file://{images}/items/item_scroll_of_town_portal.png'); 
	background-image: url('file://{images}/items/item_staff_of_sanctuary.png'); 
	background-image: url('file://{images}/items/item_dust_of_appearance.png'); 
	background-image: url('file://{images}/items/item_scroll_of_speed.png'); 
	background-image: url('file://{images}/items/item_build_tiny_great_hall_orc.png'); 
	background-image: url('file://{images}/items/item_healing_salve.png'); 
	background-image: url('file://{images}/items/item_rod_of_necromancy.png'); 
	background-image: url('file://{images}/items/item_sacrificial_skull.png'); 
	background-image: url('file://{images}/items/item_scroll_of_healing.png'); 
	background-image: url('file://{images}/items/item_moonstone.png'); 
	background-image: url('file://{images}/items/item_staff_of_preservation.png'); 
	
	background-image: none;

}

#HintPanel{
	horizontal-align: middle;
	vertical-align: top;
  
	margin-top: 50px;  
	
	flow-children: right;
}

#HintText{
	vertical-align: middle;
	horizontal-align: middle;
	
	font-size: 30px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
  
	margin-bottom: 100px;
	margin-left: 100px;
	flow-children: right;
}

#AddonTitle
{
	margin-bottom: -15px;
	vertical-align: center;
  
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

#LoadingScreenPosition
{
	margin: 0px;
	width: 100%;
	height: 100%;
}

#LoadingScreen
{	
	width: 100%;
	height: 100%;
	background-image: url("file://{images}/loading/blank.png");
}

.Done_Loading{
	background-image: url("file://{images}/selection/pattern.png");
	background-size: 100px;
}
