.HeroPanelsRoot
{
	width: 100%;
	height: 100%;
}

#HeroPanelsContainer
{	
	flow-children: down;	

	visibility: visible;
	
	margin-top: 50px;
	margin-left: 10px;
	

}

.HeroSection{
	flow-children: down;
	
	margin-top: 50px;	
	
	padding: 0 20px 20px 20px;

	opacity: 0.95;
	
}

.HeroImage
{	
	margin-top: 10px;
    vertical-align: center;
    horizontal-align: center;

	border: 3px solid grey;
	border-bottom: 0px;
}

.HeroImageDead{

	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	
}

.HeroStatusContainer{
	vertical-align: bottom;	
	height: 24px;   
	width: 100%;
	flow-children: down;
	
	background-color: #191919;
	border: 1px solid #464646;
	border-top: 0px;
	
}

.HeroReviveButton{
	vertical-align: bottom;	
	height: 24px;   
	width: 100%;
	flow-children: down;
		
	border: 1px solid black;
	background-image: url("file://{images}/revive_bar.png"); 
}  

.HeroReviveButton:hover{
	border: 1px solid grey;	
}  

.HeroReviveButton:active{
	border: 1px solid white;
}
 
.HeroReviveButtonText{
	vertical-align: middle;
	horizontal-align: middle;
	
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px 1px black; 
}
 
.LevelUp{
  	vertical-align: bottom;
	horizontal-align: right;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.9;
	border: 1px solid white;
	background-image: url("file://{images}/revive_bar.png");
 }
 
.LevelUpText{
	vertical-align: middle;
	horizontal-align: middle;
	
	color: white;
	text-shadow: 1px 1px 1px black; 
 }
 
.HeroHealthBar
{
	height: 12px;
	width: 100%;

	background-image: url("file://{images}/health_bar.png"); 
	/*background-color: #12B212; */
	border-bottom: 2px solid black;
}

.HeroManaBar
{
	height: 8px;
	width: 100%;
	
	background-image: url("file://{images}/mana_bar.png"); 
	/*background-color: #0073E5;*/
}

.AbilityPoints{
	height: 8px;
	width: 100%;
	
	background-image: url("file://{images}/mana_bar.png"); 
	/*background-color: #0073E5;*/

}

.Focus{
	height: 100%;
	width: 100%;
	
	/*background-color: gold;*/
	/*opacity: 0.05;*/
	opacity: 0.2;
	box-shadow: inset 1px 1px 50% gold;
}