.HeroPanelsRoot
{
	width: 100%;
	height: 100%;
}

.HeroPanelsUnitRoot{
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
}

#HeroPanelsContainer
{	
	flow-children: down;
	visibility: visible; 
	
	margin-top: 50px;
	margin-left: 40px;
}

#HeroButton
{
	height: 100%;
	width: 100%;
	border: 1px solid grey;
}

#HeroOverlay{
	width: 100%;
	height: 70%;
	
	vertical-align: center;
    horizontal-align: center;
}

#HeroImage
{	
	width: 100%;
	height: 70%;
	
    vertical-align: center;
    horizontal-align: center;
}

#HeroStatusContainer{
	width: 100%;
	height: 100%;
	flow-children: down;
}


#HeroFooter{
	vertical-align: bottom;	
	height: 20%;   
	width: 100%;
	
	background-color: #191919;
}

#HeroReviveButton{
	vertical-align: bottom;	
	height: 24px;   
	width: 100%;
	flow-children: down;
		
	background-image: url("file://{images}/revive_bar.png"); 
}  

#HeroReviveButton:hover{
	border: 1px solid grey;	
}  

#HeroReviveButton:active{
	border: 1px solid white;
}
 
#HeroReviveButtonText{
	vertical-align: middle;
	horizontal-align: middle;
	
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px 1px black; 
} 

#AbilityPoints{
  	vertical-align: bottom;
	horizontal-align: right;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.9;
	border: 1px solid white;
	background-image: url("file://{images}/revive_bar.png");
 }
 
#AbilityPoints Label{
	vertical-align: middle;
	horizontal-align: middle;
	
	color: white;
	text-shadow: 1px 1px 1px black; 
 }
 
#HeroHealthBar
{
	height: 12px;
	width: 100%;

	background-image: url("file://{images}/health_bar.png"); 
	/*background-color: #12B212; */
	border-bottom: 2px solid black;
}

#HeroManaBar
{
	height: 8px;
	width: 100%;
	
	background-image: url("file://{images}/mana_bar.png"); 
	/*background-color: #0073E5;*/
}

.FocusOverlay{
	/*background-color: gold;*/
	/*opacity: 0.05;*/
	opacity: 0.2;
	box-shadow: inset 1px 1px 100% gold;
}

.DeadOverlay{
	background-color: black;
	opacity: 0.8;
}

.AttackedOverlay{
	box-shadow: inset 1px 1px 50% red;
	opacity: 0.6;
	background-color: red;
}