.ResourcePanel
{
	height: 100%;
	width: 100%;
}

#ResourceContainer
{
    width: 450px;
    height: 40px;
	flow-children: right;

	horizontal-align: middle;
	margin-left: 600px;
	padding: 5px;
}

.Hidden 
{ 
    visibility: collapse;
    opacity: 0;
}

.LumberPanel
{
    width: 100px;
    height: 40px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	border: 1px solid grey;
	margin-right: 5px;
	padding: 5px;
	flow-children: right;
}

#LumberText
{
	color: green;
    font-size: 16px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
	
	padding-left: 5px;
}

#GoldIcon{
	margin-top: 3px; 
	width: 20px;  
	height: 25px;   
	background-image: url("s2r://panorama/images/custom_game/gold_icon.png"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#GoldText{
	color: gold;
    font-size: 16px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
	
	padding-left: 5px;
}

.GoldPanel
{
    width: 100px;
    height: 40px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	border: 1px solid grey;
	margin-right: 5px;
	padding: 5px;
	flow-children: right;
} 

#LumberIcon 
{	
	width: 26px; 
	height: 30px;  
	background-image: url("s2r://panorama/images/custom_game/lumber_icon.png"); 
	background-size: 100% 100%;
}


.FoodPanel
{
    width: 100px;
    height: 40px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	border: 1px solid grey;
	padding: 5px;
	margin-right: 5px;
	flow-children: right;
}

#FoodText
{
	font-size: 16px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 2.0 #000000;
	
	padding-left: 5px;
}

#FoodIcon 
{	
	width: 26px; 
	height: 30px;  
	background-image: url("s2r://panorama/images/custom_game/food_icon.png"); 
	background-size: 100% 100%;
}

.UpkeepPanel
{
	width: 500px;
    height: 200px;

    horizontal-align: center;
    vertical-align: top;
}

#UpkeepText
{
    font-size: 50px;
  	font-family: Radiance;
  	font-weight: bold;
    text-shadow: 4px 4px 4px #000000;

    margin-top: 80px;
    horizontal-align: center;
}

.Red
{
	color: #ff0000;
}

.Green
{
	color: #00ff00;
}

.Yellow
{
	color: #ffff00;
}