.ResourcePanel
{
    width: 100%;
    height: 100%;
}

.Hidden 
{ 
    visibility: collapse;
    opacity: 0;
}

.LumberPanel
{
    width: 100px;
    height: 40px;

    horizontal-align: right;
    vertical-align: bottom;

    margin-bottom: 157px;
    margin-right: 10px;
}


#LumberText
{
	color: green;
    font-size: 20px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;

    font-family: Radiance;
    margin-left: 38px;
    margin-top: 3px;
}


#LumberIcon 
{	
	width:36px; 
	height:26px; 
	background-image: url("s2r://panorama/images/custom_game/lumber_icon.png"); 
	background-size: 100% 100%;
}


.FoodPanel
{
	width: 120px;
    height: 40px;

    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 38px;
    margin-right: 90px;
}

#FoodText
{
	font-size: 20px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 2.0 #000000;

    vertical-align: center;
    margin-bottom: 8px;
    margin-left: 42px;
}

#FoodIcon 
{	
	width:36px; 
	height:26px;
	background-image: url("s2r://panorama/images/custom_game/food_icon.png"); 
	background-size: 100% 100%;
}


.UpkeepPanel
{
	width: 500px;
    height: 200px;

    horizontal-align: center;
    vertical-align: top;
}

#UpkeepText
{
    font-size: 50px;
  	font-family: Radiance;
  	font-weight: bold;
    text-shadow: 4px 4px 4px #000000;

    margin-top: 80px;
    horizontal-align: center;
}

.Red
{
	color: #ff0000;
}

.Green
{
	color: #00ff00;
}

.Yellow
{
	color: #ffff00;
}