.TradingAlliancesRoot
{
	height: 100%;
	width: 100%;
}

#PlayerContainer
{
	width: 100%;
	margin-bottom: 10px;
	flow-children: down; 
} 

#TradingAlliancesContainer
{
	width: 40%;
	
	margin-left: 50px;
	margin-top: 100px;
	padding: 25px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #191e1e ), to( #292e2e ) );
	border: 2px solid #5e686966;  
	flow-children: down;
	color: #EEEEEE;
	visibility: collapse;
}

.Player
{
	width: 100%;
	height: 50px; 
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2F2C2C ), to( #292e2e ) );
	
	border: 2px solid #5e686966; 
	flow-children: right;
	
	margin-top: 5px;
}
/* ==========================
		Resource Trade - Player Info
   ========================== */
.PlayerInfo
{
	height: 100%;
	width: 60%;
	flow-children: right;
} 

#PlayerAvatar
{
	height: 100%;
	width: 10%;

	margin: 2px;
	border: 2px solid red;
}

#PlayerName
{
	height: 100%;
	width: 90%;
	
	margin-top: 15px;
	margin-left: 15px;
	
	font-size: 20px;
	
	font-family: tahoma;
}
/* ==========================
		Resource Trade - Headers
   ========================== */
.Headers
{
	height: 80px;
	width: 100%;
	
	flow-children: down;
}

.HeaderContainerContent
{
	height: 73%;
	width: 100%;
}
.HeaderContainer
{
	flow-children: right;
	height: 25%;
	width: 100%;
	
	font-family: tahoma;
	font-size: 18px;
	color: #EEEEEE;
}
.PanelTitle
{
	font-size: 24px;
	color: #EEEEEE;
	font-family: tahoma;
}
.PlayerHeader
{
	width: 60%;
}
.GoldHeader
{
	width: 10%;
}
.LumberHeader
{
	width: 25%;
}
/* ==========================
		Resource Trade - Gold & Lumber Box
   ========================== */
.ResourceTrading
{
	height: 70%;
	width: 60%;

	flow-children: right;

	margin-top: 5px;	
	margin-left: 10px;
}

#GoldBox, #LumberBox
{
	margin-right: 5px;
	height: 100%;
	width: 35%;
	border: 1px solid #ffffffff;
	flow-children: right;
}
#GoldBox:hover, #LumberBox:hover
{
	border: 1px solid yellow;
}
#GoldBox:active, #LumberBox:active
{
	border: 1px solid green;
}
#GoldBoxText
{
	font-size: 18px;
	color: gold;
	vertical-align: middle;
	horizontal-align: middle;
}
#LumberBoxText
{
	font-size: 18px;
	color: green;
	vertical-align: middle;
	horizontal-align: middle;
}
#LumberBoxIcon
{
	height: 25px;
	width: 25px;
	margin-top: 4px;
	margin-left: 5px;
	
	background-image: url('file://{images}/Trading_Alliances/lumber_icon.png'); 
	background-repeat: no-repeat;
}
#GoldBoxIcon
{
	height: 25px;
	width: 25px;
	margin-top: 8px;
	margin-left: 5px;
	
	background-image: url('file://{images}/Trading_Alliances/gold_icon.png');
	background-repeat: no-repeat;
}

/* ==========================
		Button
   ========================== */
   
.Footer 
{
	width: 100%;
	height: 80px;
	flow-children: right;
	
	margin-left: 160px;
	
	padding: 15px;
}

#ConfirmButton, #CancelButton{
	height: 75px;
	width: 100px;

	margin-left: 50px;
	
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ));
	box-shadow: fill #002a6644 -4px -4px 8px 9px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;
	
	transition-property: background-color;
	transition-duration: .2s;

    wash-color: #99999922;
}

#ConfirmButton:enabled:hover, #CancelButton:enabled:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5f6663 ), to( #b4c2c1 ));
}

#ConfirmButton Label, #CancelButton Label{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #d5d7d7;
	
    vertical-align: middle;
	horizontal-align: middle;
}

#ConfirmButton:enabled:hover Label, #CancelButton:enabled:hover Label{
    color: white;
}

#ConfirmButton:active, #CancelButton:active
{
    wash-color: #ffffff;
}

#ConfirmButton:disabled, #CancelButton:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	border: 2px solid #3b414266;
}

#ToggleButton
{
	margin-top: 10px;
	margin-left: 210px;

	width: 52px;
	height: 52px;

	background-color: white;
	background-image: url('file://{images}/Trading_Alliances/coins.png'); 	
	border: 1px solid #999999; 
}
 
#ToggleButton:hover
{
	border: 1px solid #DDDDDD;
}

#ToggleButton:active
{
	border: 1px solid green;
}